<header class="main-header">
  <div class="header-wrapper">
    <div class="main-logo">
      <%= link_to "/items", class: "navbar-brand" do %>
        <i class="fas fa-leaf"></i> Reuseful
      <% end %>
    </div>
    <nav>
      <ul class="main-menu">
        <% if current_user %>
          <li><%= link_to "Give an item", new_item_path %></li>
        <% end %>
        <!-- <li><a href="#section-7">Profile</a></li> -->
        <li><a href="/">About us</a></li>
        <% if current_user %>
          <li>
            <%= cl_image_tag @user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "Profile", "/profile", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <%= link_to "Log in", new_user_session_path, class: "btn btn-rounded btn-primary" %>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
