<div class="container">
  <div class="row py-3">
    <div class="col-4">
      <% if user_signed_in? %>
      <div class="profile sticky-top text-center">
        <div class="profile-header p-3">
          <% if @user.photo.attached? %>
            <%= cl_image_tag @user.photo.key, class: "avatar-large" %>
          <% end %>
          <h4 class="pt-4"><%= @user.first_name + " " + @user.last_name %></h4>
        </div>

        <div class="profile-footer p-4">
          <h6><%= @user.location %></h6>
          <h6><%= pluralize @donations.count, "item" %> donated</h6>
           <%= link_to "Edit your profile", edit_user_registration_path, class: "edit-profile" %>
        </div>
      </div>
    </div>

    <div class="col-8">
      <% unless @requests.where(confirmed: true).blank? %>
        <div class="listings">
          <h5>Items to collect</h5>
          <% @requests.each do |request| %>
            <% if request.confirmed %>
              <div class="exchange d-flex align-items-center justify-content-between">
                <h6><%= link_to request.item.name.capitalize, item_path(request.item) %></h6>
                <p><%= request.location.capitalize %></p>
                <p><%= request.date.to_formatted_s(:short)  %></p>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <% unless @requests.where(confirmed: false).blank? %>
        <div class="listings">
          <h5>Items requested</h5>
          <% @requests.each do |request| %>
            <% if !request.confirmed %>
              <div class="exchange d-flex align-items-center justify-content-between">
                <h6><%= link_to request.item.name.capitalize, item_path(request.item) %></h6>
                <p><%= request.date.to_formatted_s(:short)  %></p>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <% unless @exchanges.blank? %>
        <div class="listings">
          <h5>My collection requests</h5>
          <% @exchanges.each do |exchange| %>
            <div class="exchange">
              <div class="donations d-flex align-items-center justify-content-between">
                <h6><%= exchange.user.first_name.capitalize %> sent you a request for your <em><%= link_to exchange.item.name, item_path(exchange.item) %></em>.</h6>
                <p><%= exchange.location.capitalize %> - <%= exchange.date.to_formatted_s(:short) %></p>
              </div>
              <div class="to-confirm">
                <%= link_to "Confirm", confirm_path(exchange: exchange), class: "btn btn-outline-success" %>
                <%= link_to "Decline", exchange_path(exchange), method: :delete, class: "btn btn-outline-warning" %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-4">
      <% else %>
        <p><em><%= link_to "Log in", new_user_session_path %> to book a collection!</em></p>
      <% end %>
    </div>
  </div>
</div>
