
<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="profile sticky-top text-center">
        <div class="profile-header p-3">
          <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
          <h4><%= @user.first_name + " " + @user.last_name %></h4>
        </div>



        <div class="profile-footer p-3">
          <h6><%= @user.location %></h6>
           <%= link_to "Edit your profile", edit_user_registration_path, class: "edit-profile" %>
        </div>

      </div>
    </div>

    <div class="col-8">
      <div class="listings">
        <h5>My upcoming collections</h5>
        <% @user.exchanges.each do |exchange| %>
          <div class="exchange d-flex align-items-center justify-content-between">
            <h6><%= exchange.item.name %></h6>
            <p><%= exchange.date %></p>
          </div>
        <% end %>
      </div>

      <div class="listings">
        <h5>My upcoming donations</h5>
        <% @user.items.each do |item| %>
          <div class="donations d-flex align-items-center justify-content-between">
            <h6><%= item.name %></h6>
          </div>
        <% end %>
      </div>


      <div class="listings">
        <h5>My upcoming donations</h5>

          <div class="donations d-flex align-items-center justify-content-between">
            <h6>Remove the ruby tag</h6>
            <p>whatever</p>
          </div>

      </div>





      </div>


    </div>

  </div>
</div>
