<div class="container top-padding">
  <div class="row">
    <div class="col-8">
      <%= simple_form_for @item do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :category, collection: Item::CATEGORIES %>
        <%= f.input :pictures, as: :file, input_html: { multiple: true } %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
