<div class="container">


  <div class="header py-3">

    <% if @items.empty? %>
      <h1>Nothing matched your search</h1>
    <% elsif %>
      <h1><%= params[:query] %> available for collection</h1>
     <% else %>
      <h1>All items available for collection</h1>
    <% end %>


       <%= form_tag items_path, method: :get ,class: "form-inline" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search items"
      %>
      <%= submit_tag "Begin", class: "btn btn-primary btn-sm" %>
    </div>
    <div class="cards">
      <% @items.each do |item| %>
      <div class="card-holder">
        <%= link_to item_path(item) do %>
          <div class="card-index">
            <% if item.pictures[1] %>
              <%= cl_image_tag item.pictures[1].key %>
            <% else %>
                <%= image_tag "https://source.unsplash.com/random", alt: "alttext" %>
            <% end %>
            <div class="card-index-info">
              <div class="card-index-info-top">
                <h2><%= item.name.capitalize %></h2>
                <h2><%= item.category %></h2>
              </div>
              <div class="card-index-info-bottom">
                <p>Donated <%= item.time_since_posted %> by <%= item.user.first_name.capitalize %></p>
                <p>
                  <% if @user && @user.latitude && item.user.latitude %>
                    <%= @user.distance_from_item(item) %>
                  <% else %>
                    <%= item.user.location %>
                  <% end %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>
  <% end %>



</div>
