<div class="container">
  <div class="header py-3">
    <% if @items.empty? %>
      <h1>Nothing matched your search</h1>
    <% else %>
      <h1><%= pluralize(@items.count, 'item') %> available for collection</h1>
    <% end %>
    </div>
    <div class="header py-2 d-flex justify-content-between align-items-center">
    <div class="search-bar">
     <%= form_tag items_path, method: :get ,class: "form-inline" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Search items"
    %>
    <%= submit_tag "Begin", class: "btn btn-primary btn-sm" %>
    </div>
    <div class="sort-by">
      <%= form_tag items_path, method: :get ,class: "form-inline" do %>
        <%= select_tag "sort", options_for_select(%w(Newest Nearest)) %>
        <%= submit_tag "Sort", class: "btn btn-primary" %>
      <% end %>

    </div>

    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>

    </div>
    <div class="cards">
      <% @items.each do |item| %>
      <div class="card-holder">
        <%= link_to item_path(item) do %>
          <div class="card-index">
            <% if item.pictures[1] %>
              <%= cl_image_tag item.pictures[1].key %>
            <% else %>
                <%= image_tag "https://source.unsplash.com/random", alt: "alttext" %>
            <% end %>

            <div class="item-status">
              <% if ((Time.now - item.created_at) / 1.minute).round < 60 %>
                <p class="badge p-2 alert-warning">New!</p>
              <% end %>
            </div>

            <div class="card-index-info">
              <div class="card-index-info-top">
                <h2><%= item.name.capitalize %></h2>
                <h2><%= item.category %></h2>
              </div>
              <div class="card-index-info-bottom">
                <p>Donated <%= item.time_since_posted %> by <%= item.user.first_name.capitalize %></p>
                <p>
                  <% if @user && @user.latitude && item.user.latitude %>
                    <%= @user.distance_from_item(item) %>
                  <% else %>
                    <%= item.user.location %>
                  <% end %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>
  <% end %>
  <!-- <div class="container"> -->
    <% if current_user %>
    <div class="item-header">
      <h5>My items</h5>

    </div>
      <div class="cards">
      <% current_user.items.each do |item| %>
        <div class="card-holder">
          <%= link_to item_path(item) do %>
            <div class="card-index">
              <% if item.pictures[1] %>
                <%= cl_image_tag item.pictures[1].key %>
              <% else %>
                  <%= image_tag "https://source.unsplash.com/random", alt: "alttext" %>
              <% end %>
              <div class="card-index-info">
                <div class="card-index-info-top">
                  <h2><%= item.name.capitalize %></h2>
                  <h2><%= item.category %></h2>
                </div>
                <div class="card-index-info-bottom">
                  <p>Donated <%= item.time_since_posted %></p>

                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <% end %>
  <!-- </div> -->



