<div class="container">
  <h1>All items available for collection</h1>
  <div class="cards">
    <% @items.each do |item| %>
    <div class="card-holder">
      <%= link_to item_path(item) do %>
        <div class="card-index">
          <%= image_tag "https://images.unsplash.com/photo-1555041469-a586c61ea9bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60", alt: "alttext" %>
          <div class="card-index-info">
            <div class="card-index-info-top">
              <h2><%= item.name.capitalize %></h2>
              <p><%= item.user.location.capitalize %></p>
            </div>
            <div class="card-index-info-bottom">
              <h2>Donated 3 days ago</h2>
              <span class="card-index-user"><p>by <%= item.user.first_name.capitalize %></p></span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
