<div class="container">
  <div class="row">
    <div class="col-8">
      <% @items.each do |item| %>
        <%= link_to item_path(item) do %>
          <h1><%= item.name %></h1>
        <% end %>
        <h3><%= item.description %></h3>
        <p><%= item.user.first_name %></p>
        <p><%= item.user.location %></p>
      <% end %>
    </div>
  </div>
</div>
