<div class="container">
  <div class="row">
    <div class="col-8">
      <h1><%= @item.name %></h1>
      <h5><%= @item.description %></h5><br>
      <p>Location: <%= @item.user.location %></p>
      <p>Category: <%= @item.category %></p>
      <%= link_to "Edit item", edit_item_path(@item) %>
      <%= link_to "Remove item", item_path(@item), method: :delete %>
    </div>
  </div>
</div>
