<div class="container">
  <div class="row">
    <div class="col-12 order-1">
      <% if @item.pictures %>
        <%= render 'shared/carousel' %>
      <% end %>
      <div class="item-status">
        <% if @item.exchanges.first %>
          <% if @item.exchanges.first.confirmed %>
            <p class="badge p-2 alert-dark">Item reserved</p>
          <% else %>
            <p class="badge p-2 alert-danger">Pending collection</p>
          <% end %>
        <% else %>
          <p class="badge p-2 alert-success">Item available!</p>
        <% end %>
      </div>
    </div>
    <div class="col-12 col-lg-8 order-2">
      <div class="show-info-upper">
        <h1>
          <%= @item.name.capitalize %>
          <% if @user == @item.user %>
            <%= link_to edit_item_path(@item) do %>
              <i class="fas fa-edit">|</i>
            <% end %>
            <%= link_to item_path(@item), method: :delete do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          <% end %>
        </h1>
        <h3><%= @item.category %></h3>
      </div>
      <div class="show-info-lower">
        <div class="show-time-user">
          <p>Donated <%= @item.time_since_posted %> by <%= @item.user.first_name.capitalize %></p>
        </div>
        <div class="item-location">
          <% if @user && @user.latitude && @item.user.latitude %>
            <i class="fas fa-map-marker-alt"></i> <%= @user.distance_from_item(@item) %>
          <% else %>
            <i class="fas fa-map-marker-alt"></i> <%= @item.user.location %>
          <% end %>
        </div>
      </div>
      <div class="show-description">
        <p><%= @item.description.capitalize %></p>
        <% if @item.exchanges.last %>
          <% if @item.exchanges.last.confirmed %>
            <p class="badge p-2 alert-dark">Item reserved</p>
          <% else %>
            <p class="badge p-2 alert-danger">Pending collection</p>
          <% end %>
        <% else %>
          <p class="badge p-2 alert-success">Item available!</p>
        <% end %>
      </div>
    </div>
    <div class="map-container col-12 order-3">
      <div id="map"
           style="width: 100%;
           height: 600px;"
           data-markers="<%= @markers.to_json %>"
           data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
    <div class="col-12 col-lg-4 order-2">
      <div class="booking-form">
        <% if @user == @item.user %>
          <p><em>Thanks for donating an item with Reuseful!</em></p>
        <% elsif @user && @item.exchanges.last && @item.exchanges.last.user == @user %>
          <p><em>You have already requested this item! Your request has been sent to <%= @item.user.first_name.capitalize %></em></p>
        <% elsif @user && @item.exchanges.last %>
          <p><em>Another user has already requested this item!</em></p>
        <% elsif @user %>
          <h3>Book a collection</h3>
          <%= simple_form_for [ @item, @exchange ] do |f| %>
            <%= f.input :date, as: :datetime, html5: true %>
            <%= f.input :location %>
            <%= f.submit "Create collection", class: "btn btn-primary submit-button" %>
          <% end %>
        <% else %>
          <p><em><%= link_to "Log in", new_user_session_path %> to book a collection!</em></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
