<div class="container">
  <div class="row">
    <div class="col-12 col-lg-8">
      <% if @item.pictures %>
        <%= render 'shared/carousel' %>
      <% end %>
      <div class="show-info-upper">
        <h1>
          <%= @item.name.capitalize %>
          <% if @user %>
            <%= link_to edit_item_path(@item) do%>
              <i class="fas fa-edit">|</i>
            <% end %>
            <%= link_to item_path(@item), method: :delete do%>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          <% end %>
        </h1>
        <h3><%= @item.category %></h3>
      </div>
      <div class="show-info-lower">
        <div class="show-time-user">
          <p>Donated 3 days ago by <%= @item.user.first_name %></p>
        </div>
        <div class="item-location">
          <p><%= @item.user.location %></p>
        </div>
      </div>
      <div class="show-description">
        <p><%= @item.description.capitalize %></p>
      </div>
      </div>
  <div class="col-12 col-lg-4">
    <div class="booking-form">
      <h3>Book an exchange</h3>
      <%= simple_form_for [ @item, @exchange ] do |f| %>
        <%= f.input :date, as: :string, required: true, input_html: {class: "datepicker"} %>
        <%= f.input :location %>
        <%= f.submit "Create Exchange", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
    </div>
</div>
