<div class="container">
  <div class="row">
    <div class="col-12 col-lg-8">
      <% if @user %>
        <%= link_to "Edit item", edit_item_path(@item) %>
        <%= link_to "Remove item", item_path(@item), method: :delete %>
      <% end %>
      <% if @item.pictures %>
        <%= render 'shared/carousel' %>
      <% end %>
      <div class="show-name-location">
        <h1><%= @item.name.capitalize %></h1>
        <% if @item.user.location %>
          <p><%= @item.user.location.capitalize %></p>
        <% end %>
      </div>
      <p><%= @item.description.capitalize %></p>
      <%= link_to "Edit item", edit_item_path(@item) %>
      <%= link_to "Remove item", item_path(@item), method: :delete %>
      </div>
  <div class="col-12 col-lg-4">
    <div class="booking-form">
      <h3>Book an exchange</h3>
      <%= simple_form_for [ @item, @exchange ] do |f| %>
        <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
        <%= f.input :location %>
        <%= f.submit "Create Exchange", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
    </div>
</div>
