<div class="container">
  <div class="row">
    <div class="col-8">
      <h1><%= @item.name %></h1>

      <h3><%= @item.user.location %></h3>
      <p><%= @item.description %></p>
     <%= link_to "Edit item", edit_item_path(@item) %>
      <%= link_to "Remove item", item_path(@item), method: :delete %>


      <% @item.pictures.each do |picture| %>
        <%= cl_image_tag picture.key, height: 300, width: 400, crop: :fill %>
      <% end %>

      <%= simple_form_for [ @item, @exchange ] do |f| %>
        <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
        <%= f.input :location %>
        <%= f.submit "Create Exchange", class: "btn btn-primary" %>
      <% end %>




    </div>
  </div>
</div>
